{% extends 'generate/base.html' %}
{% block body %}
<style>

    h1 {
      text-align: center;
    }
    option, div{
      text-align:center;
    }
    .btn{
      background-color: #cc0000;
    }
    
</style>
    

<h1 text-align=center>Generate a Pizza Recipe</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
            <form action="/external/" method="post">
                {%csrf_token%}
                <h5 text-align=center>Input 3 Ingredients:</h5>

                Crust:  <input type="text" name="crust_type" required><br>
                <br>
                Cheese: <input type="text" name="cheese_type" required><br>
                <br>
                Sauce:  <input type="text" name="sauce_type" required><br>
                <br>
                Topping Number: <input type="number" name="topping_num" required><br>
                <br>

                <ul>
                    {% for k, v in output.items %}
                        <li>{{ k }}: {{ v }}</li>
                    {% endfor %}
                </ul>
            
                
              
                <input class="btn btn-large btn-info" type="submit" value="Get Started!">
               
                
            </form>
  

            
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method="POST">{% csrf_token %}
                Enter the command: 
                <input type="text" name="param" required><br>
                {{ myform }}
                <input type="submit" name="submit_cmd" value="Run" />
            </form>
            {% if output %}<h3>{{ output }}</h3>{% endif %}
            {% if exit_code %}<h3>Your command returned an error: {{ error_msg }}</h3>{% endif %}
            
    </div>
</div> -->


{% endblock %}

