{% extends 'generate/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<style>

    h1 {
      text-align: center;
    }
    th {
      text-align: center;
    }
    option, div{
      text-align: center;
    }
    .btn{
      background-color: #cc0000;
    }
    
</style>
    

<h1 text-align=center>Random Toppings</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
            <form action="/external/" method="post">
                {%csrf_token%}
                <h5 text-align="center">3 Pizza Base Elements:</h5>
                <div class="form-inline">
                    <div class="form-group">
                        <h5 class="text-left">Crust:</h5><input class= "form-control" type="text" name="crust_type" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <h5 class="text-left">Cheese:</h5><input class= "form-control" type="text" name="cheese_type" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <h5 class="text-left">Sauce:</h5><input class= "form-control" type="text" name="sauce_type" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <h5 class="text-left">Number of Toppings:</h5><input class= "form-control" type="number" name="topping_num" required>
                    </div>
                    <br>
                </div>
                <br>
                <input class="btn btn-large btn-info" type="submit" value="Get Started!">              
            </form>  
            <!-- <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class="form-group">
                    <legend class="border-bottom">Update Profile </legend>
                    {{ pizza_form|crispy }}
                    <div class="form-group">
                        <button class="btn" type="submit">Get Started!</button>
                    </div>
                </fieldset>
            </form> -->

            <br>     
            
            <div class="container-sm">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="row m-0">
                            <th class="d-inline-block col-1">Ingredients:</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            {% for k, v in output.items %}
                            <tr class="row m-0">
                                <td class="d-inline-block col-1">{{ k }}</td>
                            </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>
            </div>
                
                          
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method="POST">{% csrf_token %}
                Enter the command: 
                <input type="text" name="param" required><br>
                {{ myform }}
                <input type="submit" name="submit_cmd" value="Run" />
            </form>
            {% if output %}<h3>{{ output }}</h3>{% endif %}
            {% if exit_code %}<h3>Your command returned an error: {{ error_msg }}</h3>{% endif %}
            
    </div>
</div> -->


{% endblock %}

