{% extends 'generate/base.html' %}
{% block body %}
<div class="container">
<div class="row">
<div class="col-sm-4">
	<!-- Category -->
	<div class="single category">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active" style="background-color: #cc0000;">
        Nutritional Information: Sausage
      </a>
      <a class="list-group-item list-group-item-action"><strong>Fiber:</strong>0.1g</a>
      <a class="list-group-item list-group-item-action"><strong>Sugars:</strong>1.4g</a>
      <a class="list-group-item list-group-item-action"><strong>Protein:</strong>14.3g</a>
      <a class="list-group-item list-group-item-action"><strong>Carbohydrates:</strong>3.2g</a>
      <a class="list-group-item list-group-item-action"><strong>Sodium:</strong>557mg</a>
      <a class="list-group-item list-group-item-action"><strong>Fat:</strong>20.5g</a>
      <a class="list-group-item list-group-item-action"><strong>Calories:</strong>258</a>
   </div>
</div>
</div>
</div>



{% endblock %}
